Repository open-domains/register, pull requests merged in 2024-12, with the labels that each got.

#1807 zgalera domain verification
  domains/_gh-ZGalera-o.zgalera.is-local.org.json
  domains/_github-pages-challenge-ZGalera.zgalera.is-local.org.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1811 fix: fix zgalera subdomains
  domains/_gh-ZGalera-o.zgalera.is-local.org.json
  domains/_github-pages-challenge-ZGalera.zgalera.is-local.org.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1814 Delete domains/doubles.is-a-fullstack.dev.json
  domains/doubles.is-a-fullstack.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1815 Create tiger.is-not-a.dev.json
  domains/tiger.is-not-a.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1818 Create grin.is-cool.dev
  domains/grin.is-cool.dev.json
Labels: Invalid: Records, CLA Signed, Validated JSON, Validated DNS

#1816 Create ot.is-local.org.json
  domains/ot.is-local.org.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1822 certified freak
  domains/finn.is-cool.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1820 Create codesquad.is-local.org.json
  domains/codesquad.is-local.org.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1829 Create space.is-cool.dev.json
  domains/space.is-cool.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1827 add johnsmithren.is-a-fullstack.dev
  domains/johnsmithsren.is-a-fullstack.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1828 chore: Fixing validation stuff
  domains/*.akhil.is-cool.dev.json
  domains/sdheeraj.is-cool.dev.json
  tests/json.test.js
Labels: Enhancement, DON'T MERGE, CLA Signed, Validated JSON, Validated DNS

#1831 chore: fixing broken records
  domains/*.app.sctech.localplayer.dev.json
  domains/soisyb.is-cool.dev.json
  domains/srimaruthiricemill.localplayer.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1832 fix!: improper validation
  tests/domains.test.js
Labels: Bug, CLA Signed, Validated JSON, Validated DNS

#1833 chore: mass deletions
  domains/_github-pages-challenge-clay990.suraj.is-cool.dev.json
  domains/_github-pages-challenge-homesteadrd.homesteadrdplaygroup.is-local.org.json
  domains/_github-pages-challenge-jinix6.crystalperson.is-cool.dev.json
  domains/_github-pages-challenge-jinix6.crystalperson.is-local.org.json
  domains/_github-pages-challenge-narmis-e.narmis.is-cool.dev.json
  domains/_github-pages-challenge-openorganizationname.climatehealthei.is-local.org.json
  domains/_github-pages-challenge-py660.python660.is-loca.org.json
  domains/_github-pages-challenge-tdevteam.thedevteam.is-cool.dev.json
  domains/_github-pages-challenge-vijay2249.coachbeardjr.localplayer.dev.json
  domains/_github-pages-challenge-yesnielx.yesnielx.is-cool.dev.json
  domains/amplify.is-a.fullstack.dev.json
  domains/devil._domainkey.host.mycodelab.is-cool.dev.json
  domains/potpry.is-cool.dev..json
  domains/privacy.isdev.localplayer.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1834 Dibster final fixes
  domains/_github-pages-challenge-turbomaster95.deva.is-cool.dev.json
  domains/mail.deva.is-cool.dev.json
  domains/play.deva.is-cool.dev.json
  domains/tts.deva.is-cool.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1835 Update aenger.is-a-fullstack.dev.json
  domains/aenger.is-a-fullstack.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1837 add *.app.sctech.localplayer.dev.json
  domains/*.app.sctech.localplayer.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1838 Create glacier.is-local.org.json
  domains/glacier.is-local.org.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1845 Delete domains/projectvoid.is-not-a.dev.json
  domains/projectvoid.is-not-a.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1848 Create projectvoid.is-local.org.json
  domains/projectvoid.is-local.org.json
Labels: Invalid: Records, CLA Signed, Validated JSON, Validated DNS

#1840 Create hr.is-cool.dev.json
  domains/hr.is-cool.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1843 Change domains (veryorange.is-cool.dev to veryorange.localplayer.dev)
  domains/_github-pages-challenge-codimationtech.veryorange.localplayer.dev.json
  domains/veryorange.localplayer.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1847 add birdgirlcomics.is-not-a.dev
  domains/birdgirlcomics.is-not-a.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1859 Create _github-pages-challenge-ArbotixCodez.is-local.org.json
  domains/_github-pages-challenge-ArbotixCodez.is-local.org.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1853 Create schoolmath.localplayer.dev.json
  domains/schoolmath.localplayer.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1855 Register Slimymabs Domains
  domains/43.is-cool.dev.json
  domains/87.localplayer.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1857 switch www.sctech.localplayer.dev to A records
  domains/www.sctech.localplayer.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1858 adding subdomain
  domains/rntxpurval.is-a-fullstack.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1850 Register mothman.is-cool.dev
  domains/mothman.is-cool.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1862 Create mcc.is-cool.dev.json
  domains/mcc.is-cool.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1856 Github Verification Create _github-pages-challenge-py660.python660.is-not-a.dev.json
  domains/_github-pages-challenge-py660.python660.is-not-a.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1867 Update grinder-circle.is-cool.dev.json
  domains/grinder-circle.is-cool.dev.json
Labels: Awaiting Response, CLA Signed, Validated JSON, Validated DNS

#1844 moving to gitlab pages neovoid.is-cool.dev.json
  domains/_gitlab-pages-verification-code.neovoid.is-cool.dev.json
  domains/neovoid.is-cool.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1877 Update _gitlab-pages-verification-code.neovoid.is-cool.dev.json
  domains/_gitlab-pages-verification-code.neovoid.is-cool.dev.json
  domains/neovoid.is-cool.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1879 fix: validation
  .github/workflows/validation.yml
Labels: CLA Signed, Validated DNS

#1882 chore: additional checks for validation
  .github/workflows/validation.yml
Labels: Bug, CLA Signed, Validated JSON, Validated DNS

#1876 CNAME
  domains/tomato.rntxpurval.is-a-fullstack.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1884 Pr to Remove Abusive Domains
  domains/12.is-cool.dev.json
  domains/55gms.is-cool.dev.json
  domains/55gms.localplayer.dev.json
  domains/87.localplayer.dev.json
  domains/wthisthis.is-not-a.dev.json
Labels: TAKEDOWN, CLA Signed, report-abuse

#1883 Fix CNAME record in zone avnss.is-cool.dev
  domains/avnss.is-cool.dev.json
Labels: CLA Signed

#1887 Create tooreal.is-a-fullstack.dev.json
  domains/tooreal.is-a-fullstack.dev.json
Labels: CLA Signed

#1890 chore: some testing
  .github/workflows/cla.yml
Labels: CLA Signed

#1891 joplay.is-cool.dev pull request thing
  domains/joplay.is-cool.dev.json
Labels: CLA Signed

#1893 Update cla.yml
  .github/workflows/cla.yml
Labels: CLA Signed

#1900 Add nadid.is-cool.dev subdomain
  domains/nadid.is-cool.dev.json
Labels: CLA Signed

#1902 Update cmx.is-local.org
  domains/cmx.is-local.org.json
Labels: CLA Signed
