Repository open-domains/register, pull requests merged in 2024-08, with the labels that each got.

#1392 wisard-gaming.is-not-a.dev.json
  domains/wisard-gaming.is-not-a.dev.json
Labels: Waiting: Maintainer Decision

#1407 register for personal site
  domains/wes.is-cool.dev.json
  domains/wesley.is-cool.dev.json
Labels: Awaiting Response, Invalid: File

#1414 Update yash-dj-films-and-studio.is-local.org.json
  domains/yash-dj-films-and-studio.is-local.org.json
Labels: CLA Signed

#1401 Create *.lsmithx2.localplayer.dev.json
  domains/*.lsmithx2.localplayer.dev.json
Labels: Awaiting Response

#1416 Create zenshi.is-cool.dev.json
  domains/zenshi.is-cool.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1418 F TXT
  domains/zenshi.is-cool.dev.json
Labels: CLA Signed, Validated JSON, Invalid DNS

#1417 danbothosting = downtime
  domains/clidewoodrealm.localplayer.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1426 Update and rename atlas.is-not-a.dev.json to shrimp.is-not-a.dev.json
  domains/atlas.is-not-a.dev.json
  domains/shrimp.is-not-a.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1425 Update and rename _github-pages-challenge-AtlasL1.atlas.is-not-a.dev.…
  domains/_github-pages-challenge-AtlasL1.atlas.is-not-a.dev.json
  domains/_github-pages-challenge-AtlasL1.shrimp.is-not-a.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1427 feat: two domains for using Resend for emails, these are required by Resend to allow emails
  domains/resend._domainkey.coolify.is-not-a.dev.json
  domains/send.coolify.is-not-a.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1428 Update applications.clidewoodrealm.localplayer.dev.json
  domains/applications.clidewoodrealm.localplayer.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1429 Create oziko.is-cool.dev
  domains/oziko.is-cool.dev
Labels: CLA Signed, Validated JSON, Validated DNS

#1430 Fix API
  domains/oziko.is-cool.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1431 Create stackunderflow.is-cool.dev.json
  domains/stackunderflow.is-cool.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1434 Create spicy.localplayer.dev
  domains/spicy.localplayer.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1435 Add gabrielgsd.is-cool.dev domain
  domains/gabrielgsd.is-cool.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1433 Update stackunderflow.is-cool.dev.json
  domains/stackunderflow.is-cool.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1437 update resend domains to have the correct TXT record
  domains/resend._domainkey.coolify.is-not-a.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1442 Update clidewoodrealm.localplayer.dev.json
  domains/clidewoodrealm.localplayer.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1441 Create fakell.is-cool.dev.json
  domains/fakell.is-cool.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1436 Create dns.haruki.is-cool.dev.json
  domains/dns.haruki.is-cool.dev.json
Labels: Invalid: Inaccessible Site, CLA Signed, Validated JSON, Validated DNS

#1443 Update mail.maragi.is-cool.dev.json
  domains/mail.maragi.is-cool.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1396 Add ayan.is-a-fullstack.dev
  domains/ayan.is-a-fullstack.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1446 Update mail.maragi.is-cool.dev.json
  domains/mail.maragi.is-cool.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1448 Make wildcard domain
  domains/*.haruki.is-cool.dev.json
  domains/code.haruki.is-cool.dev.json
  domains/dns.haruki.is-cool.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1450 Update clidewoodrealm.localplayer.dev.json
  domains/clidewoodrealm.localplayer.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1452 Create p2m.is-not-a.dev.json
  domains/p2m.is-not-a.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1453 Update clidewoodrealm.localplayer.dev.json
  domains/clidewoodrealm.localplayer.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1456 Update semant.localplayer.dev.json
  domains/semant.localplayer.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1458 Create mrepol742.is-a-fullstack.dev.json
  domains/mrepol742.is-a-fullstack.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1457 Create alex-gitarre.json
  domains/alex-gitarre.is-local.org.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1461 Update this.is-local.org.json
  domains/this.is-local.org.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1459 Create alternate.is-local.org
  domains/alternate.is-local.org.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1462 Create _github-pages-challenge-OshekharO.alternate.is-local.org.json
  domains/_github-pages-challenge-OshekharO.alternate.is-local.org.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1465 Create _github-pages-challenge-getSono.alex-gitarre.is-local.org.json
  domains/_github-pages-challenge-getSono.alex-gitarre.is-local.org.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1470 Update clidewoodrealm.localplayer.dev.json
  domains/clidewoodrealm.localplayer.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1469 Create server.clidewoodrealm.localplayer.dev.json
  domains/server.clidewoodrealm.localplayer.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1467 Create serverlink.clidewoodrealm.localplayer.dev.json
  domains/serverlink.clidewoodrealm.localplayer.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1466 Create play.clidewoodrealm.localplayer.dev.json
  domains/play.clidewoodrealm.localplayer.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1471 Update this.is-local.org.json
  domains/this.is-local.org.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1474 Adding new domain and changing old ones
  domains/*.ccds.is-local.org.json
  domains/*.rafat.is-cool.dev.json
  domains/*.rafathome.is-cool.dev.json
  domains/ccds.is-cool.dev.json
  domains/rafat.is-cool.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1476 Add the domain: kinodira.is-cool.dev
  domains/kinodira.is-cool.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1477 Update and rename mycodelab.is-cool.dev.json to codelabworks.is-cool.…
  domains/codelabworks.is-cool.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1479 Removes Vercel and Netlify sections
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
Labels: CLA Signed, Validated JSON, Validated DNS

#1482 Create mau.is-cool.dev.json
  domains/mau.is-cool.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1483 Create amplify.is-a.fullstack.dev.json
  domains/amplify.is-a.fullstack.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1486 Update canalhas.is-local.org.json
  domains/canalhas.is-local.org.json
Labels: Invalid: Records, CLA Signed, Validated JSON, Validated DNS

#1488 Create lava.localplayer.dev.json
  domains/lava.localplayer.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1478 Temporary mail records
  domains/devil._domainkey.host.mycodelab.is-cool.dev.json
  domains/devil._domainkey.mycodelab.is-cool.dev.json
  domains/host.mycodelab.is-cool.dev.json
  domains/mycodelab.is-cool.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1493 Update canalhas.is-local.org.json
  domains/canalhas.is-local.org.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1501 Update lava.localplayer.dev.json
  domains/lava.localplayer.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1495 leo.localplayer.dev
  domains/leo.localplayer.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1497 Create v3.lava.localplayer.dev.json
  domains/v3.lava.localplayer.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1500 Create undns.localplayer.dev.json
  domains/undns.localplayer.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1498 Create v4.lava.localplayer.dev.json
  domains/v4.lava.localplayer.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS
