Repository open-domains/register, pull requests merged in 2024-10, with the labels that each got.

#1592 Create aathreyakadambi.is-cool.dev.json
  domains/aathreyakadambi.is-cool.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1594 Create 55gms.localplayer.dev.json
  domains/55gms.localplayer.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1595 Create red2b2t.domain.json
  domains/red2b2t.domain.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1596 Create vardhan-ysh.is-not-a.dev.json
  domains/vardhan-ysh.is-not-a.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1597 Rename red2b2t.domain.json to red2b2t.is-not-a.dev.json
  domains/red2b2t.is-not-a.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1598 Update vardhan-ysh.is-not-a.dev.json
  domains/vardhan-ysh.is-not-a.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1599 chore: delete domain breaking validation
  domains/red2b2t.is-not-a.dev.json
Labels: Validated JSON, Validated DNS

#1593 Create math.is-cool.dev.domain.json
  domains/math.is-cool.dev.json
Labels: Invalid: Records, Invalid: File, CLA Signed, Validated JSON, Validated DNS

#1600 Create _github-pages-challenge-demonickatsu.math.is-cool.dev.json
  domains/_github-pages-challenge-demonickatsu.math.is-cool.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1609 Delete domains/william.localplayer.dev.json
  domains/william.localplayer.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1607 update 911748.is-cool.dev
  domains/911748.is-cool.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1608 create 7s8xdw.is-cool.dev.json
  domains/7s8xdw.is-cool.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1612 Adding domains
  domains/ccds.is-local.org.json
  domains/rafathome.is-cool.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1613 Create arg2040.is-cool.dev.json
  domains/arg2040.is-cool.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1616 Update and rename leo.localplayer.dev.json to *.leo.localplayer.dev.json
  domains/*.leo.localplayer.dev.json
  domains/leo.localplayer.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1618 Create avgosd.is-cool.dev.json
  domains/avgosd.is-cool.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1619 Site Appending Request: abhidjt.is-cool.dev
  domains/abhidjt.is-cool.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1617 Registering a New Subdomain
  domains/85.is-local.org.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1620 Register rabug.localplayer.dev
  domains/rabug.localplayer.dev.json
Labels: Invalid: Records, CLA Signed, Validated JSON, Validated DNS

#1622 Update and rename esb.is-cool.dev.json to educatedsuddenbucket.localp…
  domains/educatedsuddenbucket.localplayer.dev.json
  domains/esb.is-cool.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1621 Created prothomalu.is-local.org
  domains/prothomalu.is-local.org.json
Labels: Invalid: File, CLA Signed, Validated JSON, Validated DNS

#1624 Create argchatpi.is-not-a.dev
  domains/argchatpi.is-not-a.dev.json
Labels: Invalid: Records, CLA Signed, Validated JSON, Validated DNS

#1625 Update validation.yml
  .github/workflows/validation.yml
Labels: CLA Signed, Validated JSON, Validated DNS

#1629 Create portal.maragi.is-cool.dev.json
  domains/portal.maragi.is-cool.dev.json
Labels: Invalid: Records, CLA Signed, Validated JSON, Validated DNS

#1636 Update A record
  domains/ke46138.is-not-a.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1631 Create ioserver.is-cool.dev.json
  domains/ioserver.is-cool.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1633 Create slxca.is-not-a.dev.json
  domains/slxca.is-not-a.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1634 Domain Request for is-cool.dev
  domains/iflb.is-cool.dev.json
  domains/ifs.is-cool.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1642 Create tudor.is-cool.dev.json
  domains/tudor.is-cool.dev.json
Labels: Invalid: File, CLA Signed, Validated JSON, Validated DNS

#1637 Added OpenProfile
  domains/_gh-openprofileproject-o.*.openprofile.is-cool.dev.json
  domains/about.openprofile.is-cool.dev.json
  domains/openprofile.is-cool.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1643 Create var.is-local.org.json
  domains/var.is-local.org.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1646 Create phucdh0110.localplayer.dev.json
  domains/mail.phucdh0110.localplayer.dev.json
  domains/phucdh0110.localplayer.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1647 Create abdullah.is-a-fullstack.dev
  domains/abdullah.is-a-fullstack.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1652 Fix the A record of var.is-local.org
  domains/var.is-local.org.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1651 Create zishu.is-cool.dev.json
  domains/zishu.is-cool.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1653 Reupdate the website DNS (Vercel to Netlify)
  domains/autodiscover.phucdh0110.localplayer.dev.json
  domains/phucdh0110.localplayer.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1648 Create _gh-openprofileproject-o.openprofile.is-cool.dev.json
  domains/_gh-openprofileproject-o.openprofile.is-cool.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1660 Update naf.is-cool.dev.json
  domains/naf.is-cool.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1663 Create that.is-cool.dev.json
  domains/that.is-cool.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1666 Create joinclidewood.localplayer.dev.json
  domains/joinclidewood.localplayer.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1669 Update naf.is-cool.dev.json
  domains/naf.is-cool.dev.json
Labels: Invalid: Inaccessible Site, CLA Signed, Validated JSON, Validated DNS
