Repository open-domains/register, pull requests merged in 2024-09, with the labels that each got.

#1496 Create redoc.localplayer.dev
  domains/redoc.localplayer.dev.json
Labels: Invalid: Records, CLA Signed, Validated JSON, Validated DNS

#1504 Create neerav.is-cool.dev.json
  domains/neerav.is-cool.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1502 Update leo.localplayer.dev.json
  domains/leo.localplayer.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1503 Created amythyst.is-local.org
  domains/amythyst.is-local.org.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1519 Create zone avnss.is-cool.dev
  domains/avnss.is-cool.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1518 Update leo.localplayer.dev.json
  domains/leo.localplayer.dev.json
Labels: Invalid: Records, CLA Signed, Validated JSON, Validated DNS

#1520 Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Waiting: Maintainer Decision, CLA Signed, Validated JSON, Validated DNS

#1517 Register zeus.is-a-fullstack.dev.json
  domains/zeus.is-a-fullstack.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1522 Add key pass domain
  domains/key-pass.is-not-a.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1524 Create zone roxy.is-cool.dev and roxy.is-local.org
  domains/roxy.is-cool.dev.json
  domains/roxy.is-local.org.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1527 Create vortex.is-local.org.json
  domains/vortex.is-local.org.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1526 New domain request
  domains/*.mithilesh.is-cool.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1528 Add MX records to minilibraries.is-local.org
  domains/minilibraries.is-local.org.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1529 Update leo.localplayer.dev.json
  domains/leo.localplayer.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1533 wthisthis.is-not-a.dev
  domains/wthisthis.is-not-a.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1534 Updated amythyst.is-local.org
  domains/*.amythyst.is-local.org.json
  domains/amythyst.is-local.org.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1539 Create easyshop.is-local.org.json
  domains/easyshop.is-local.org.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1540 Delete domains/mc.aquatica.localplayer.dev.json
  domains/mc.aquatica.localplayer.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1542 Update README.md
  README.md
Labels: Documentation, CLA Signed, Validated JSON, Validated DNS

#1538 Update *.amythyst.is-local.org.json
  domains/*.amythyst.is-local.org.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1541 Update easyshop.is-local.org.json
  domains/easyshop.is-local.org.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1543 Create _discord.shrimp.is-not-a.dev.json
  domains/_discord.shrimp.is-not-a.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1531 Update ke46138.is-not-a.dev.json
  domains/ke46138.is-not-a.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1544 Register zai.is-not-a.dev
  domains/zai.is-not-a.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1545 Delete domains/kinodira.is-cool.dev.json
  domains/kinodira.is-cool.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1546 Delete domains/play.clidewoodrealm.localplayer.dev.json
  domains/play.clidewoodrealm.localplayer.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1547 Delete domains/server.clidewoodrealm.localplayer.dev.json
  domains/server.clidewoodrealm.localplayer.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1548 Delete domains/serverlink.clidewoodrealm.localplayer.dev.json
  domains/serverlink.clidewoodrealm.localplayer.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1549 Create playclidewood.localplayer.dev.json
  domains/playclidewood.localplayer.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1550 Create keks-magazin.is-local.org.json
  domains/keks-magazin.is-local.org.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1551 Removed unused domains, thank you!
  domains/*.amythyst.is-local.org.json
  domains/eluna.is-local.org.json
  domains/yuki.is-local.org.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1553 Update keks-magazin.is-local.org.json
  domains/keks-magazin.is-local.org.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1554 Create _github-pages-challenge-Keks-Magazin.keks-magazin.is-local.org…
  domains/_github-pages-challenge-Keks-Magazin.keks-magazin.is-local.org.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1559 Register gatekeeping.is-cool.dev
  domains/_gitlab-pages-verification-code.gatekeeping.is-cool.dev.json
  domains/gatekeeping.is-cool.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1560 GitHub page not verifying
  domains/_github-pages-challenge-Clay990.suraj.is-cool.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1562 Update *.mithilesh.is-cool.dev.json
  domains/*.mithilesh.is-cool.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1564 Update _github-pages-challenge-Clay990.suraj.is-cool.dev.json
  domains/_github-pages-challenge-Clay990.suraj.is-cool.dev.json
Labels: Invalid: File, CLA Signed, Validated JSON, Validated DNS

#1565 Update Repository
  domains/_gitlab-pages-verification-code.gatekeeping.is-cool.dev.json
  domains/gatekeeping.is-cool.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1567 fix: update my domain file and TXT
  domains/_github-pages-challenge-YesnielX.yesnielx.is-cool.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1568 Create ukriu.localplayer.dev and Update ukrio.is-cool.dev
  domains/ukriu.is-cool.dev.json
  domains/ukriu.localplayer.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1569 Update and rename spicy.localplayer.dev.json to api.localplayer.dev.json
  domains/api.localplayer.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1571 Create educationiscool.is-cool.dev.json
  domains/educationiscool.is-cool.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1572 Create computer-science.is-cool.dev
  domains/computer-science.is-cool.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1573 Added my desired domain.
  domains/ali.is-a-fullstack.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1574 Create cmx.is-cool.dev.json
  domains/cmx.is-cool.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1575 Create cmx.is-local.org.json
  domains/cmx.is-local.org.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1583 r
  domains/_github-pages-challenge-xotnet.core.is-local.org.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1584 Create core.is-local.org.json
  domains/core.is-local.org.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1587 Create _github-pages-challenge-AryaEjoumalai.aryaejoumalai.is-a-fulls…
  domains/_github-pages-challenge-AryaEjoumalai.aryaejoumalai.is-a-fullstack.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS
