Repository open-domains/register, pull requests merged in 2024-11, with the labels that each got.

#1672 I have read the CLA Document and I hereby sign the CLA
  domains/lwdedsecssh.is-not-a.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1678 Create pato.is-cool.dev.json
  domains/pato.is-cool.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1673 Create a Github verification for kalmed.localplayer.dev
  domains/_github-pages-challenge-k4lm3d.kalmed.localplayer.dev.json
  domains/kalmed.localplayer.dev.json
Labels: Awaiting Response, CLA Signed, Validated JSON, Validated DNS

#1681 Update arg2040.is-cool.dev.json and argchatpi.is-not-a.dev
  domains/arg2040.is-cool.dev.json
  domains/argchatpi.is-not-a.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1685 Domain creation
  domains/eflb.is-cool.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1670 Create status.openprofile.is-cool.dev.json
  domains/status.openprofile.is-cool.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1683 Create henry.is-not-a.dev.json
  domains/henry.is-not-a.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1686 Add elias.is-not-a.dev subdomains
  domains/elias.is-not-a.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1694 Added Tameyo
  domains/tameyo.is-local.org.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1687 Update course.is-local.org.json
  domains/course.is-local.org.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1688 Create safone.is-cool.dev and safone.is-a-fullstack.dev
  domains/safone.is-a-fullstack.dev.json
  domains/safone.is-cool.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1703 Ulric collaco patch 1
  domains/ulric.localplayer.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1697 elora.is-not-a.dev
  domains/elora.is-not-a-dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1704 fix: Fix publish issue
  domains/ulric.localplayer.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1711 elora.is-not-a.dev edit dns
  domains/elora.is-not-a-dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1712 fix!: invalid domain
  domains/ulric.localplayer.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1710 Create _github-pages-challenge-ulric-collaco.ulric.localplayer.dev.json
  domains/_github-pages-challenge-ulric-collaco.ulric.localplayer.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1693 add domains
  domains/*.app.sctech.localplayer.dev.json
  domains/7vvk22a5l2fs.sctech.localplayer.dev.json
  domains/blog.sctech.localplayer.dev.json
  domains/docs.sctech.localplayer.dev.json
  domains/go.sctech.localplayer.dev.json
  domains/sctech.localplayer.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1726 Update minilibraries.is-local.org.json
  domains/minilibraries.is-local.org.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1715 netlify also wants a www subdomain
  domains/www.sctech.localplayer.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1714 Register x.is-not-a.dev
  domains/x.is-not-a.dev.json
Labels: Invalid: File, CLA Signed, Validated JSON, Validated DNS

#1717 Create _github-pages-challenge-SC136.ironflake.is-local.org.json
  domains/_github-pages-challenge-SC136.ironflake.is-local.org.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1719 add ababil.is-not-a.dev.json
  domains/ababil.is-not-a.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1725 Create Aleksyeus.is-cool.dev.json
  domains/Aleksyeus.is-cool.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1724 Add files via upload
  domains/catboy.localplayer.dev.json
  domains/memoryedge.localplayer.dev.json
  domains/themeddler.localplayer.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1728 Create ironflake.is-local.org.json
  domains/ironflake.is-local.org.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1736 Register arshman.is-not-a.dev.json
  domains/arshman.is-not-a.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1734 Register x.is-local.org.json
  domains/x.is-local.org.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1723 Wasi tc patch 6
  domains/Rbfl.localplayer.dev.json
Labels: Invalid: NS Records, CLA Signed, Validated JSON, Validated DNS

#1738 Create x.is-cool.dev.json
  domains/x.is-cool.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1742 Update Rbfl.localplayer.dev.json
  domains/Rbfl.localplayer.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1749 Wasi tc patch 9
  domains/Rbfl.localplayer.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1751 Update Rbfl.localplayer.dev.json
  domains/Rbfl.localplayer.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1747 Create comments-zishu.is-local.org
  domains/comments-zishu.is-local.org.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1741 Create j.is-cool.dev
  domains/j.is-cool.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1752 domain.tld
  domains/projectvoid.is-not-a.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1761 Update README.md
  README.md
Labels: CLA Signed

#1759 Update Rbfl.localplayer.dev.json
  domains/Rbfl.localplayer.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1764 Register x.localplayer.dev
  domains/x.localplayer.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1767 Register my sub domain
  domains/x.is-a-fullstack.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1763 Create aicoe-labs.is-cool.dev.json
  domains/aicoe-labs.is-cool.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1768 Create smart-parking-daim.is-a-fullstack.dev
  domains/smart-parking-daim.is-a-fullstack.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1769 Create 55gms.is-cool.dev.json
  domains/55gms.is-cool.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1771 Create daki.is-cool.dev.json
  domains/daki.is-cool.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1772 Create cflb.is-cool.dev.json
  domains/cflb.is-cool.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1776 Create hunkaa.is-not-a.dev.json
  domains/hunkaa.is-not-a.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1773 Add Subdomin Pull Request
  domains/evans.is-not-a.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1774 breeze256.is-local.org
  domains/breeze256.is-local.org.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1778 Create aboutuste.localplayer.dev.json
  domains/aboutuste.localplayer.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1780 Create grinder-circle.is-cool.dev.json
  domains/grinder-circle.is-cool.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1781 Create chat.is-local.org.json
  domains/chat.is-local.org.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1783 Add (12.is-cool.dev)
  domains/12.is-cool.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1705 fix: Fix everything
  .github/workflows/validation.yml
  domains/*.devhat.localplayer.dev.json
  domains/*.imrbk123abc.is-cool.dev.json
  domains/0xrinx.is-cool.dev.json
  domains/_github-pages-challenge-arabiancoconut.arabiancoconut.is-cool.dev.json
  domains/_github-pages-challenge-aryaejoumalai.aryaejoumalai.is-a-fullstack.dev.json
  domains/_github-pages-challenge-arzejames.wacky.is-not-a.dev.json
  domains/_github-pages-challenge-atlasl1.htc.is-local.org.json
  domains/_github-pages-challenge-atlasl1.imag.is-local.org.json
  domains/_github-pages-challenge-atlasl1.shrimp.is-not-a.dev.json
  domains/_github-pages-challenge-clay990.suraj.is-cool.dev.json
  domains/_github-pages-challenge-crowncoins.crowncoins.is-local.org.json
  domains/_github-pages-challenge-csajays.vp.is-local.org.json
  domains/_github-pages-challenge-davidaprilio.david.is-cool.dev.json
  domains/_github-pages-challenge-dev-ajay-sahani.ajay.is-cool.dev.json
  domains/_github-pages-challenge-dragon-dima.drago.is-cool.dev.json
  domains/_github-pages-challenge-getsono.alex-gitarre.is-local.org.json
  domains/_github-pages-challenge-keks-magazin.keks-magazin.is-local.org.json
  domains/_github-pages-challenge-lighthostingfree.lh.is-cool.dev.json
  domains/_github-pages-challenge-lighthostingfree.lightarea.is-cool.dev.json
  domains/_github-pages-challenge-mani-cwaf.mani.is-a-fullstack.dev.json
  domains/_github-pages-challenge-mukujhansi.gunman.is-a-fullstack.dev.json
  domains/_github-pages-challenge-nanduwastaken.nandu.is-cool.dev.json
  domains/_github-pages-challenge-narmis-e.narmis.is-cool.dev.json
  domains/_github-pages-challenge-openorganizationname.climatehealthei.is-local.org.json
  domains/_github-pages-challenge-oshekharo.alternate.is-local.org.json
  domains/_github-pages-challenge-real-yash.vamika.is-local.org.json
  domains/_github-pages-challenge-sayanta01.sayanta.is-a-fullstack.dev.json
  domains/_github-pages-challenge-sc136.ironflake.is-local.org.json
  domains/_github-pages-challenge-skyshadowhero.skyshadowhero.is-cool.dev.json
  domains/_github-pages-challenge-soumikcoder.soumik.is-cool.dev.json
  domains/_github-pages-challenge-tdevteam.thedevteam.is-cool.dev.json
  domains/_github-pages-challenge-the-coding-empire.coding.json
  domains/_github-pages-challenge-theflashspeedster.flash.is-cool.dev.json
  domains/_github-pages-challenge-yesnielx.yesnielx.is-cool.dev.json
  domains/aleksyeus.is-cool.dev.json
  domains/amythyst.is-local.org.json
  domains/avnss.is-cool.dev.json
  domains/ayan.is-a-fullstack.dev.json
  domains/discog.localplayer.dev.json
  domains/echo.is-local.org.json
  domains/flash.is-cool.dev.json
  domains/hotcocoa.is-local.org.json
  domains/janbert.localplayer.dev.json
  domains/midnight.localplayer.dev.json
  domains/rbfl.localplayer.dev.json
  domains/retr0.localplayer.dev.json
  domains/shadow.localplayer.dev.json
  domains/short.is-cool.dev.json
  domains/sig1._domainkey.sure.is-cool.dev.json
  domains/zemerik.is-cool.dev.json
  package-lock.json
  package.json
  tests/domains.test.js
  tests/json.test.js
  tests/proxy.test.js
  tests/records.test.js
Labels: Enhancement, DON'T MERGE, CLA Required, CLA Signed, Validated JSON, Validated DNS

#1785 fix: Correct the record types able to use proxy
  tests/proxy.test.js
Labels: CLA Signed, Validated DNS

#1787 Validation Edits (CAN BE MERGED NOW)
  .github/workflows/validation.yml
  tests/domains.test.js
  tests/json.test.js
  tests/proxy.test.js
Labels: Waiting: Maintainer Decision, CLA Signed, Validated JSON, Validated DNS

#1786 Wasi tc patch 10
  domains/rbfl.localplayer.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1789 Register veryorange.is-cool.dev
  domains/_github-pages-challenge-codimationtech.veryorange.is-cool.dev.json
  domains/veryorange.is-cool.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1792 Create arc.evans.is-not-a.dev.json
  domains/arc.evans.is-not-a.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1794 Create dev.cms.is-local.org.json
  domains/cms.is-local.org.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1795 Create free-cms.is-local.org.json
  domains/free-cms.is-local.org.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1797 Domain imaxolotlicek-is-cool.dev
  domains/imaxolotlicek.is-cool.dev.json
Labels: CLA Signed, Validated JSON, Validated DNS

#1804 Add `zgalera.is-local.org` domain
  domains/zgalera.is-local.org.json
Labels: CLA Signed, Validated JSON, Validated DNS
